body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F9F2E7;
}
.head-front{
	background-color: #AEE239;
}
.text-float-left{
	float: left;
}
.image-valign{
	margin: 5px;
}
.bottom-footer{
	margin-top: 10px;
	margin-bottom: 0px;
}